<% layout('layout') %>

<div class="container mt-5">
  <h1 class="text-center"><% title %></h1>
  <div class="row">
    <% products.forEach(product => { %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%=product.description %></p>
          <p class="card-text">Harga: Rp <%= product.price.toLocaleString() %></p>
            <a href="#" class="btn btn-primary">Tambah ke Keranjang</a>
            <a href="/products/<%= product.id %>" class="btn btn-secondary">Detail Produk</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
